.active {
  color: green;
}

nav {
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  gap: 75px;
  align-items: center;
}

nav li {
  padding: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}
